<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page frontmatter if it has one -->
    <title><%= current_page.data.title || "Jim Davis" %></title>
    <!-- 10/22 Liam - Added css link statements for all styles files. -->
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "navbar"%>
    <%= stylesheet_link_tag "awards"%>
    <%= stylesheet_link_tag "teachpub"%>    
    <%= stylesheet_link_tag "proHistory"%>

  </head>
  <body>
    <!-- 10/19 Liam added navbar -->
    <%= partial "navbar" %>
    <!-- Loads a template for the navigation bar that will go at the top of every page using "layout" layout -->
    <%= yield %>
    <%= partial "footer" %>
  </body>
</html>
